*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
}

.wrapper{
    width: 400px;
    background: #fff;
    border: none;
    border-radius: 7px;
}

.wrapper header{
    color: black;
    font-size: 21px;
    font-weight: 500;
    padding: 16px 15px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

header i{
    cursor: pointer;
    font-size: 0px;
    margin-right: 8px;
}

.wrapper.active header i{
    font-size: 30px;
    margin-left: 5px;
}

.wrapper .inputtext{
    margin: 20px 25px 30px;
}

.wrapper.active .inputtext{
    display: none;
}

.inputtext .text{
    display: none;
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.text.error{
    display: block;
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.text.pending{
    display: block;
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}


.inputtext :where(input, button){
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
}

.inputtext input{
    text-align: center;
    border: 1px solid #bfbfbf;
}

.inputtext input:is(:focus, :valid){
    border: 2px solid #43affc;
}

.inputtext .separator{
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator::before{
    content: "or";
    color: #ccc;
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
}

.inputtext button{
    color: #fff;
    background-color: #43affc;
    cursor: pointer;
}

.wrapper .weather-part{
    margin: 30px 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper.active .weather-part{
    display: flex;
}

.weather-part img{
    max-width: 100px;
}

.weather-part .temp{
    display: flex;
    font-size: 60px;
    font-weight: 500;
}

.weather-part .temp .num{
    font-weight: 600;
}

.weather-part .temp .deg{
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}

.weather-part .weather{
    font-size: 18px;
    text-align: center;
    margin: 5px 20px 15px;
    text-transform: capitalize;
}

.weather-part .location{
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.location i{
    font-size: 22px;
    margin-right: 5px;
}

.weather-part .bottom-details{
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #bfbfbf;
    justify-content: space-between;
}

.bottom-details .column{
    width: 100%;
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
}

.column i{
    font-size: 40px;
    color: #43affc;
}

.column.humidity{
    border-left: 1px solid #bfbfbf;
}

.details .temp, .humidity span{
    font-size: 18px;
    font-weight: 600;
    margin-top: -3px;
}

.details .temp .deg{
    margin: 0;
    font-size: 17px;
    pad: 0 2px 0 1px;
}

.details p{
    font-size: 14px;
    margin-top: 1px;
}

footer{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

footer p{
    color: white;
    padding: 5%;
    font-size: x-small;
}

footer p a {
    text-decoration: none;
    color: white;
}